<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>


    <h1>Listado de Drones</h1>
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <h2 class="mb-4">Nuestros Productos</h2>
                    <p>Conoce todos nuestros productos de drones....</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <% drones.forEach(function(dron) { %>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-3 ftco-animate">
                            <div class="product">
                                <a href="/productos/<%= dron.id %>" class="img-prod">
                                    <img class="img-fluid" src="<%= dron.image %>" alt="<%= dron.nombre %>">
                                    <span class="status"><%= dron.descuento %>%</span>
                                    <div class="overlay"></div>
                                </a>
                                <div class="text py-3 px-3">
                                    <h3><a href="#"><%= dron.nombre %></a></h3>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price">
                                                <% if (dron.descuento > 0) { %>
                                                    <span class="mr-2 price-dc">$<%= dron.precio.toFixed(2) %></span>
                                                    <span class="price-sale">$<%= (dron.precio - (dron.precio * dron.descuento / 100)).toFixed(2) %></span>
                                                <% } else { %>
                                                    <span class="price-sale">$<%= dron.precio.toFixed(2) %></span>
                                                <% } %>
                                            </p>
                                        </div>
                                        <div class="rating">
                                            <p class="text-right">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="bottom-area d-flex px-3">
                                        <a href="#" class="add-to-cart text-center py-2 mr-1"><span>Añadir a Carrito<i class="ion-ios-add ml-1"></i></span></a>
                                        <a href="#" class="buy-now text-center py-2">Comprar<span><i class="ion-ios-cart ml-1"></i></span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('../partials/footer'); %>
    <%- include('../partials/script'); %>
</body>
</html>
